@import "~bootstrap/dist/css/bootstrap.min.css";

#palo2 {
  transform: rotate(180deg);
  margin-top: 55px;
  margin: 20px;
}

#container {
  margin-top: 250px;
  margin: 20px;
}

.card-body {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 220px;
  width: 150px;
  margin: 30px;
}

body {
  background-color: brown;
}

#numero {
  text-align: center;
  margin-top: 50px;
}

#palo {
  margin-top: -15px;
}
